* {
    box-sizing:border-box;
}

.center-column {
    padding: 24px;
}

body {
    margin:0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient(
        to bottom,
        pink, 
        #0e5b96
    );
    display: flex;
    align-items: center;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}

#navbar a:hover {
    background: linear-gradient(
        to top,
        #0e5b96,
        #0e5b96
    );
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition:
        visibility 0.25s,
        opacity 0.25s
}

.dropdown-container:last-child .dropdown-menu {
    right:0px;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: darkslateblue;
    width: 100%;
    min-width: 200px;
}

#navbar .dropdown-menu a:hover {
    background: slateblue;
}

img {
    height: 300px;
    width: 300px;
    object-fit:cover
}

body {
    margin:0px;
    font-family: sans-serif;
}

#hero-1 {
    background-image: url("../images/background.webp"); 
    background-size: cover;
    background-position: center center;
    height: 40vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#hero-1 h1 {
    font-size: 15vw;
    padding-left: 10vw;
}

#card2 a {
    transition:
        background-color 0.5s, 
        box-shadow 0.5s,
        transform 0.5s;
}

#card2:hover a {
    color: aquamarine 
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

.gallery-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    color:lightseagreen
}

.card {
    flex: 300px;
    border: 3px solid black;
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
}


.card a {
    text-decoration: none;
    color: black;
    display: block;
    border: 3px solid black;
    padding: 12px;
    margin-top: 36px;
}

#hero a,
.card a {
    background-color: white;
    color: indigo;
    border: 2px solid indigo;
    border-radius: 24px;
    display: inline-block;
    padding: 8px 16px;
    margin-top: 12px;
    min-width: 150px;
    transition: transform 0.25s;
}

#hero a:hover,
.card a:hover {
    transform: scale(1.05);
}

/****************************************************************************
  Card styles
****************************************************************************/
.three-cards,
.two-cards {
    display: flex;
}

.card {
    border: 2px solid indigo;
    color: indigo;
    margin: 48px 24px 24px;
    padding: 12px 12px 24px;
    text-align: center;
    box-shadow: 4px 4px 8px 0px grey;
    flex: 1;
}

.card p {
    font-size: 18px;
}

.three-cards {
    margin-top: 48px;
}

.two-cards {
    align-items: center;
    margin: 48px 0px;
}

.two-cards .card {
    border: 0px;
    box-shadow: none;
}

.two-cards .card img {
    width: 100%;
}

#d1-container1 {
    border: 2px solid black
}

#d1-container1 {
    margin: 24px;
    padding: 10px;
}