#palette1 {
    font-family: sans-serif;
    text-align: center;
}
#palette1-color1 {
    background-color: #bfb5af;
    color:black;
    font-family: sans-serif;
    text-align: center;
    padding: 24px;
}
#palette1-color2 {
    background-color: #ece2d0;
    color:black;
    font-family: sans-serif;
    text-align: center;
    padding: 24px;
}
#palette1-color3 {
    background-color:#d5b92b;
    color:black;
    font-family: sans-serif;
    text-align: center;
    padding: 24px;
}
#palette2 {
    font-family: sans-serif;
    text-align: center;
}
#palette1-color1 {
    background-color: ##fb6f92;
    color:black;
    font-family: sans-serif;
    text-align: center;
    padding: 24px;
}
#palette1-color2 {
    background-color: #ece2d0;
    color:black;
    font-family: sans-serif;
    text-align: center;
    padding: 24px;
}
#palette1-color3 {
    background-color:#d5b92b;
    color:black;
    font-family: sans-serif;
    text-align: center;
    padding: 24px;
}
